.podcast {
    background-color: transparent;
    border-radius: 10px;
    max-width: auto;
}

.episode-image{
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
}
#episode-thumbnail{
    height: 100%;
    object-fit:cover;
    border-radius: 50%;
}
.img {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.link-episode{
    text-decoration: none;
    color:rgb(255, 255, 255);
}
.link-episode:hover{
    color:rgb(132, 128, 128);
}
