{% extends 'core/base.html' %} 
{% load static %}
{% block title %} Creator page {%endblock %} 
{% block head %} 

{% endblock %} 
{% block content %}
<div class="row mx-auto">
  <div class="row mt-5">
    <h1 class="text-light text-center"> Creator studio</h1>
  </div>
  {% if show_delete_success %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{show_delete_success}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endif %}
  <div class="row mt-5 d-flex justify-content-center pe-0 ps-0 mx-auto mb-5">
    
    <div class="container-form col-lg-6 mx-auto mt-4">
      <h2 class="text-light text-center mb-3">Create a podcast</h2>
      <form method="post" class="card px-4 py-3 mx-auto" novalidate enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
                {{ field.label_tag }} 
                {{ field }}
                {% if field.errors %}
                    <small class="text-danger mb-2">{{ field.errors|striptags }}</small> 
                {% endif %}
        {% endfor %}
        <small class"text-warning">To select multiple categories hold the control button</small>
        {% if success_message %}
        <h6 class="text-success">{{success_message}}</h6>
        {% else %}
        <ul>
            {% for error in error_message %}
            <li class="text-danger">{{error}}</li>
            {% endfor %}
        </ul>
        {% endif%}
        
        <input type="submit" value="Create" class="btn btn-warning full-width mb-3">
      </form>
    </div>
    {% if podcasts %}
    <div class="col-lg-6 mt-4">
      <h2 class="text-light text-center mb-3">Your podcasts</h2>
      
      {% for podcast in podcasts %}
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            {% if podcast.podcast_thumbnail %}
            <img src="{{MEDIA_URL}}{{podcast.podcast_thumbnail}}" class="card-img-top mx-auto d-block" alt="..." style="max-width:200px;height:100%;object-fit:cover;">
            {% else %}
            <img src="{{MEDIA_URL}}images/default/default_podcast_thumbnail.jpg" class="card-img-top mx-auto d-block" alt="..." style="max-width:200px;height:100%;object-fit:cover;">
            {% endif %}
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <a href="{% url 'core:podcast' podcast.slug %}" class="text-decoration-none text-dark"><h5 class="card-title">{{podcast.name}}</h5></a>
              <p class="">{{podcast.episodes.count}} episodes</p>
              <div class="row d-flex justify-content-start">
                <a href="{% url 'core:podcast-edit' podcast.slug %}" class="btn btn-warning mt-4 ms-1 col-sm-3">Manage</a>
                <a href="{% url 'core:podcast-upload' podcast.slug %}" class="btn btn-success mt-4 ms-1 col-sm-3 ">Upload</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {%endif%}
  </div> 
</div>


{% endblock %}
