{% extends 'core/base.html' %} {% load static %} {% load custom_filters %}
{% block title %} {{episode.title}} {% endblock %}
{%block head %} 
<link rel="stylesheet" href="{% static 'css/episode.css' %}" />
<link rel="stylesheet" href="{% static 'css/badge.css' %}" />
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
/>
{% endblock %} {% block content %}
<div class="mt-5 row mb-5">
  <a href="{% url 'core:podcast' podcast.slug%}" class="text-light mb-5"
    >&larr; All episodes</a
  >
  <div class="info-section col-lg-4">
    <div class="episode-image">
      {% if episode.episode_thumbnail %}
      <img
        src="{{ MEDIA_URL }}{{episode.episode_thumbnail}}"
        class="img-fluid"
        id="episode-thumbnail"
        alt="Podcast thumbnail"
      />
      {% else %}
      <img
        src="{{ MEDIA_URL }}images/default/default_podcast_thumbnail.jpg"
        class="img-fluid"
        id="episode-thumbnail"
        alt="Podcast thumbnail"
      />
      {% endif %}
    </div>
  </div>
  <div class="col-lg-8 mt-4">
    <h1 class="text-light">{{episode.title}}</h1>
    <h5 class="text-warning">@{{episode.podcast.owner.username}}</h5>
    <div class="row mb-3">
      <div class="follow-section mt-5 col-8 row" style="">
        <div class="col-sm-3" id="follow_section"></div>
        <div class="col-sm-8">
          <p class="text-light align-text-bottom mt-1" id="followers"></p>
        </div>
      </div>
      <div class="col-4">
        <div class="d-flex justify-content-center mt-5" id="like_section">
          <div id="like_button" class="mt-1"></div>
          <p class="text-light ms-2 me-2 mt-1" id="like_count"></p>
        </div>
      </div>
    </div>
    <p class="text-light"><span class="text-warning">{{streams}}</span> {% if streams == 1 %} stream {% else %} streams {% endif %}</p>
  </div>
  {% if user.is_authenticated %}
  <audio class="mt-5" controls preload="metadata" id="audio">
    <source src="{{ MEDIA_URL }}{{episode.audio}}" type="audio/ogg" />
    Your browser does not support the audio tag.
  </audio>
  {% if playlists %}
  <div class="row d-flex justify-content-center mt-3">
    <div class="dropdown" style="max-width:145px;">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Add to playlist
      </button>
      <ul class="dropdown-menu">
        {% for playlist in playlists %}
        <li><p class="dropdown-item mt-0 mb-0" style="cursor:pointer;" onClick="add_to_playlist({{playlist.id}})">{{playlist.name}}</p></li>
        {% endfor %}
      </ul>
    </div>
    <div id="added_episode" class="row">
      
    </div>
  </div>
  {% endif %}
  <hr class="text-light mt-3" />
  <!--DESCRIPTION SECTION-->
  <h2 class="text-light">Description</h2>
  <p>
    <a
      class="text-warning"
      data-bs-toggle="collapse"
      href="#description"
      role="button"
      aria-expanded="false"
      aria-controls="description"
    >
      Show
    </a>
  </p>
  <div class="collapse" id="description">
    <div class="card card-body bg-dark text-light">{{episode.description}}</div>
  </div>
  <hr class="text-light mt-3" />
  <!--CREATE COMMENT-->
  <div class="comment-section mb-5">
    <h2 class="text-light"><span id="comments_count"></span> Comments</h2>
    <form class="form-comment row mt-4" id="post_comment_form">
      {% csrf_token %}
      <div class="mb-3 col-md-6">
        <input
          type="text"
          class="form-control"
          id="comment"
          placeholder="Write a comment..."
          maxlength="500"
          required
        />
        <input type="submit" class="btn btn-success mt-3" value="post" />
      </div>
    </form>
    <div id="success_alert" class="row"></div>
    <hr class="text-light mt-3" />
    <!--OTHER USERS COMMENTS-->
    <section class="comments" id="comments"></section>
    <!--MODAL REPLY-->
    <div class="modal-section">
      <div
        class="modal fade"
        id="reply_modal"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="reply_header"></h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form class="form-comment row mt-4" id="post_reply_form">
                {% csrf_token %}
                <input type="hidden" id="parent_comment" value="" />
                <div class="mb-3 col-md-12">
                  <input
                    type="text"
                    class="form-control"
                    id="reply"
                    placeholder="Write a comment..."
                    maxlength="500"
                    required
                  />
                  <input
                    type="submit"
                    class="btn btn-success mt-3"
                    value="post"
                  />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% else %}
  <h3 class="text-light mt-5 text-center">
    Login to stream,comment and like this episode
  </h3>
  {% endif %}
</div>

{% endblock %} {% block scripts %}
<script src="{% static 'js/episodeFunctions.js' %}"></script>
<script>
  // Saving all the data i will need from the backend in Django to backend in Javascript
  //on page load play audio  
  window.addEventListener('DOMContentLoaded', (event) => {
    let dataFrontEnd = {
      episode_slug: "{{episode.slug}}",
      podcast_slug: "{{podcast.slug}}",
      stream_element: `streamed_{{podcast.slug}}_{{episode.slug}}`,
    };
    if(localStorage.getItem(dataFrontEnd.stream_element)){
      localStorage.removeItem(dataFrontEnd.stream_element);
    }
    init(dataFrontEnd);
  });
</script>
{% endblock %}
