{% extends 'core/base.html' %} {% load static %} {% load custom_filters %}
{%block head %}
<link rel="stylesheet" href="{% static 'episode.css' %}" />
<link rel="stylesheet" href="{% static 'badge.css' %}" />

{% endblock %} {% block content %}
<div class="mt-5 row">
  <div class="info-section col-lg-4">
    <div class="episode-image">
      {% if podcast.podcast_thumbnail %}
      <img
        src="{{ MEDIA_URL }}{{podcast.podcast_thumbnail}}"
        class="img-fluid"
        id="episode-thumbnail"
        alt="Podcast thumbnail"
      />
      {% else %}
      <img
        src="{{ MEDIA_URL }}images/default_podcast_thumbnail.jpg"
        class="img-fluid"
        id="episode-thumbnail"
        alt="Podcast thumbnail"
      />
      {% endif %}
    </div>
  </div>
  <div class="col-lg-8 mt-4">
    <h1 class="text-light">{{podcast.name}}</h1>
    <h5 class="text-warning">{{owner.username}}</h5>
    <div class="category-list mt-3">
      {% for category in categories %}
      <a href="{% url 'core:category-detail' category.slug%}"
        ><span class="badge rounded-pill">{{category.name}}</span></a
      >
      {% endfor %}
    </div>
    <div class="follow-section row" style="height: 90px">
      <div class="col-sm-6 d-flex align-items-end">
        <p class="text-light align-text-bottom mb-0">{{followers}} Followers</p>
      </div>
      <div class="col-sm-6 d-flex align-items-end">
        {% if user.is_authenticated %} {% if is_following %}
        <a
          class="btn btn-sm btn-danger"
          href="{% url 'core:unfollow' podcast.slug %}"
          >Unfollow</a
        >
        {% else %}
        <a
          class="btn btn-sm btn-success"
          href="{% url 'core:follow' podcast.slug %}"
          >Follow</a
        >
        {% endif %} {% else %}
        <a
          href="{% url 'accounts:login' %}"
          class="btn btn-warning align-text-bottom"
          >Login to follow</a
        >
        {% endif %}
      </div>
    </div>
  </div>
  <hr class="text-light mt-5" />
  <div class="episodes-list">
    <div class="d-flex justify-content-between">
      <h2 class="text-light mb-5">Episodes</h2>
      <div class="dropdown bg-dark">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Sort By
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li>
            <a
              class="dropdown-item {% if sort_by == 'old_to_new' %} active {% endif %}"
              href="/podcasts/{{podcast.slug}}?sort_by=old_to_new"
              >Old to new</a
            >
          </li>
          <li>
            <a
              class="dropdown-item {% if sort_by == 'new_to_old' %} active {% endif %}"
              href="/podcasts/{{podcast.slug}}?sort_by=new_to_old"
              >New to old</a
            >
          </li>
          <li><a class="dropdown-item disabled" href="#">Most streamed</a></li>
        </ul>
      </div>
    </div>
    {% if episodes %} {% for episode in episodes %}

    <div class="card mb-3 mt-3 pt-2 pb-2 podcast">
      <div class="row g-0">
        <div class="col-md-2 text-center">
          {% if episode.episode_thumbnail %}
          <img
            src="{{ MEDIA_URL }}{{episode.episode_thumbnail}}"
            class="img mt-2"
            alt="Episode thumbnail"
          />
          {% else %}
          <img
            src="{{ MEDIA_URL }}images/default_podcast_thumbnail.jpg"
            class="img mt-3"
            alt="Episode thumbnail"
          />
          {% endif %}
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <a
              href="/podcasts/{{podcast.slug}}/episode/{{episode.id}}"
              class="link-episode"
              ><h5 class="card-title mb-3">{{episode.title}}</h5></a
            >
            <div class="row">
              <div class="col-sm-12">
                <p class="text-warning col-sm-6 me-0">
                  {{ episode.length|seconds_to_minutes }}
                </p>

                <small class="text-light col-sm-6 me-0"
                  >{{episode.upload_date}}</small
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="text-light" />
    {% endfor %} {% else %}
    <p class="text-light">No episodes uploaded yet</p>
    {% endif %}
  </div>
</div>
{% endblock %}
